body{
    margin: 0;
}

/* Header */
.container1{
    display: flex;
    flex-direction: row;
    justify-content: around;
    color:aliceblue;
    vertical-align: middle;
}

.item1-c1, .item2-c1{
    flex: 1;
}

header{
    background-color: #1f2937;
    text-align: center;
    justify-content: center;
}

.item1-c1{
}

.item2-c1{
    display: flex;
    flex-direction: row;
}

#im1, #im2, #im3{
    flex: 1;
    
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 50px;
}

#ima, #imb, #imc{
    flex: 1;
    text-align: justify;
}

#imb{
    width: 375px;
    padding-right: 350px;
}

#imc{
    text-align: left;
}

.container1 img{
    width: 500px;
    height: 500px;
}


/* Section one main */

img{
    width: 60px;
    height: auto;
}

.container3{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.s1 h2{
    text-align: center;
}

/* Section two main */

.s2{
    background-color: #e5e7eb;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}


blockquote{
    font-size: 36px;
    color: #1f2937;
    text-align: justify;
    
}

.s2 p{
    font-weight: bold;
    text-align: right;
    padding-right: 48px;
}

/* Section three main */

.s3{
    background-color: #3882f6;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
}

.s3h4, .s3p, .s3button{
    flex: 1;
    align-self:center;
}

/* Footer */

footer{
    text-align: center;
    border: 1px solid #1f2937;
    color: aliceblue;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
}