body{
    margin: 0;
}

/* Header */
.container1{
    display: flex;
    flex-direction: row;
    justify-content: around;
    color:aliceblue;
    vertical-align: middle;
}

.item1-c1, .item2-c1{
    flex: 1;
}

header{
    background-color: #1f2937;
    text-align: center;
    justify-content: center;
}

.item1-c1{
}

.item2-c1{
    display: flex;
    flex-direction: row;
}

#im1, #im2, #im3{
    flex: 1;
    
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
    gap: 50px;
}

#ima, #imb, #imc{
    flex: 1;
    text-align: justify;
}

#imb{
    width: 375px;
    padding-right: 125px;
}

#imc{
    text-align: left;
}

.container2 img{
    width: 300px;
    height: auto;
}


/* Section one main */

.s1{
    padding-top: 25px;
    padding-bottom: 100px;
}

.s1 img{
    width: 150px;
    height: auto;
}

.container3{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.s1 h2{
    text-align: center;
}

/* Section two main */

.s2{
    background-color: #e5e7eb;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}


blockquote{
    font-size: 36px;
    color: #1f2937;
    text-align: justify;
    
}

.s2 p{
    font-weight: bold;
    text-align: right;
    padding-right: 48px;
}

/* Section three main */

.container4{
    background-color: #3882f6;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
}

.container4 #div1, .container4 #div2{
    flex: 1;
}

#div1{
    text-align: left;
    padding-left: 125px;
}

.s3 button{
    width: 125px;
    height: 30px;
    border-radius: 5px;
    background-color: #3882f6;
    border-color: aliceblue;
    color: aliceblue;
}

/* Footer */

footer{
    text-align: center;
    border: 1px solid #1f2937;
    color: aliceblue;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
}